<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "ring-square" %>
  <% end %>

  <%= link_to "bijoux", bijous_path, class: "btn btn-info"  %>
  <%= link_to "bagues", bijous_bagues_path, class: "btn btn-info"  %>
  <%= link_to "boucles", bijous_boucles_path, class: "btn btn-info"  %>
  <%= link_to "broches", bijous_broches_path, class: "btn btn-info"  %>
  <%= link_to "colliers", bijous_colliers_path, class: "btn btn-info"  %>
  <%= link_to "contact", pages_contact_path, class: "btn btn-dark"%>

</div>
