<div class="dark-bar">
  <div class="nav-top-btns">
    <%= link_to "bijubriju", root_path, class: "biju-nav-bar" %>
    <div class="to-the-right">
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <%= link_to "add", new_bijou_path, class: "nav-btn nav-tools" %>
          <%= link_to "edit", root_path, class: "nav-btn nav-tools" %>
        <% else %>
          <%= link_to "panier", "#", class: "nav-btn nav-cart" %>
        <% end %>
        <%= link_to "sign out", destroy_user_session_path, method: :delete, class: "nav-btn nav-logout"  %>
      <% else %>
        <%= link_to " sign in", new_user_session_path, class: "nav-btn nav-login"  %>
      <% end %>
      <%= link_to "contact", pages_contact_path, class: "nav-btn nav-contact"%>
    </div>
  </div>
  <!-- <div class="nav-btns">
    <%#= link_to "bagues", bijous_bagues_path, class: "nav-btn"  %>
    <%#= link_to "boucles", bijous_boucles_path, class: "nav-btn"  %>
    <%#= link_to "broches", bijous_broches_path, class: "nav-btn"  %>
    <%#= link_to "colliers", bijous_colliers_path, class: "nav-btn"  %>
  </div> -->
</div>
