<div class="container">
  <h1>Here is all the biju we have !</h1>
  <div class="row">
    <% @bijous.each do |bijou| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= bijou.name %></h5>
            <p class="card-text"><%= bijou.category %></p>
            <p>Amount: <%= humanized_money_with_symbol(bijou.price) %></p>
            <%= link_to "More details", edit_bijou_path(bijou), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <% if current_user.admin == true %>
          <%= link_to "edit", edit_bijou_path(bijou) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
