<div class="container">
  <%= simple_form_for(@bijou) do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :sku %>
    <%= f.input :price_cents %>
    <%= f.button :submit %>
  <% end %>
</div>
