<div class="container">
  <%= simple_form_for(@bijou) do |f| %>
    <%= f.input :name %>
    <%= f.input :category %>
    <%= f.input :sku %>
    <%= f.input :price_cents %>
    <%= f.input :tag_list, label: "Add tags", hint: "Add your tags, separated by commas" %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit %>
  <% end %>
</div>
