<div class="container py-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
    </div>
    <div class="col-sm-12 col-md-6">
      <h1><%= @bijou.name %></h1>
      <p>Some awesome description of our amazing bijou.</p>
      <p>Amount: <%= humanized_money_with_symbol(@bijou.price) %></p>
      <%= form_tag orders_path do %>
        <%= hidden_field_tag 'bijou_id', @bijou.id %>
        <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
      <% end %>
      <h3>Wanna see these other bijous ?</h3>
      <ul>
        <% @related_bijous.each do |r| %>
          <li><%= r.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
